# Сетевой репозиторий для установки
d-i mirror/protocol string http
d-i mirror/http/hostname string 192.168.50.12
d-i mirror/http/directory string /repos/astra173
# Настройки языка
d-i mirror/country string manual
d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru
# Настройки клавиатуры
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Ctrl+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Ctrl+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia
# Настройки сетевого интерфеска
d-i netcfg/choose_interface select auto
# Выбор компонент репозитория
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select none
# Настройка часов и синхронизации времени
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean false
# Разметка диска
d-i partman-auto/method string regular
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true
# Для режима legacy bios:
d-i partman-auto/expert_recipe string myroot :: \
512 16384 512 ext2 \
         $primary{ } $bootable{ } \
         method{ format } format{ } use_filesystem{ } filesystem{ ext2 } mountpoint{ /boot } .\
     8192 16384 16384 ext4 \
         method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /     } .\
     2048 16384 2048 ext4 \
         method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /tmp  } options/noexec{ noexec } options/nodev{ nodev } options/nosuid{ nosuid } .\
     500 8192 -1 ext4 \
         method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /home } .
d-i partman-auto/choose_recipe select myroot
#d-i partman-auto/choose_recipe select atomic
# Для режима UEFI:
# d-i   partman-auto/choose_recipe  select  /lib/partman/recipes-amd64-efi/30atomic
# Этот параметр заставляет partman выполнить разметку автоматически без подтверждения.
d-i partman/confirm_write_new_label     boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-auto-crypto/erase_disks     boolean true
d-i partman-basicfilesystems/no_swap    boolean false
d-i partman-target/mount_failed         boolean true
d-i partman-partitioning/unknown_label  boolean true
d-i partman-auto/purge_lvm_from_device  string  true
d-i partman-lvm/vgdelete_confirm        boolean true
d-i partman/confirm_write_new_label     string  true
d-i partman-lvm/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
 
d-i base-installer/kernel/image string linux-image-generic
 
d-i passwd/make-user boolean true
# Учетная запись и пароль пользователя
d-i passwd/user-fullname string vva
d-i passwd/username string vva
d-i passwd/user-password password vok1984lov
d-i passwd/user-password-again password vok1984lov
 
d-i debian-installer/allow_unauthenticated string true
# Выбор ПО для установки
tasksel tasksel/first multiselect Base packages, Fly desktop, SSH server
tasksel tasksel/astra-feat-setup multiselect
# Выбор уровня защищенности ОС
d-i astra-additional-setup/os-check select Maximum security level Smolensk
# Выбор параметров ОС
d-i astra-additional-setup/additional-settings-smolensk multiselect Enable Mandatory Integrity Control, Enable Mandatory Access Control, Disable ptrace capability
 
tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false
tripwire tripwire/installed note ok
portsentry portsentry/warn_no_block note ok
astra-license astra-license/license boolean true
krb5-config krb5-config/kerberos_servers string
libnss-ldapd libnss-ldapd/ldap-base string
libnss-ldapd libnss-ldapd/ldap-uris string
libnss-ldapd libnss-ldapd/nsswitch multiselect services
ald-client ald-client/make_config boolean false
ald-client ald-client/manual_configure false
astra-feat-setup astra-feat-setup/feat multiselect kiosk mode false
astra-feat-setup astra-feat-setup/feat multiselect Служба ALD false
d-i console-cyrillic/switch select "Клавиша Menu"
d-i console-cyrillic/toggle select Control+Shift
d-i samba-common/dhcp boolean false
d-i samba-common/workgroup string testgroup1
 
popularity-contest popularity-contest/participate boolean false
 
d-i grub-installer/only_debian boolean true
 
d-i grub-installer/with_other_os boolean true
# Пароль загрузчика grub
d-i grub-installer/password password vok1984lov
d-i grub-installer/password-again password vok1984lov
grub-installer grub-installer/password-mismatch error
# Не показывать последнее сообщение о том, что установка завершена.
d-i finish-install/reboot_in_progress note
d-i finish-install/exit/poweroff boolean true
d-i preseed/late_command string chroot /target sh -c "/usr/bin/wget -O /tmp/postinstall.sh ftp://192.168.50.249/{PROFILE_UNIQ_NAME}/{POSTINSTALL_FILE_NAME} && /bin/sh -x /tmp/postinstall.sh"
